<div class="jumbotron1">
		<div class="container">
			</br></br> =======================================================================================================
			<h4>Name: abdulaziz Alothaim </h3> </br>
			<h4>Github: abdulaziz3/shoppingOnline  <b><a href="https://github.com/abdulaziz3/shoppingOnline"> Click Here</a></b></h4></br>
			<h4>Heruku:</h4></br>
			<h4>E-mail: azizdemocollege@gmail.com <b>OR</b> Email me directly from <b><%= mail_to "azizdemocollege@gmail.com", "here" %></b></h4></br></br></br></br></br></br></br></br></br>
			<h4><b> Thank you </b></h4>
		</div>
</div>