<div class="center jumbotron">
	<h1>Name : Abdulaziz Alothaim</h1>
	<h1>Email : D13125638@mydit.ie </h1>
</br></br>
	<a class=" btn btn-primary btn-lg btn-inverse" href="https://github.com/abdulaziz3/films" role="button">Github</a>
	<%if !signed_in? %>
		<%= link_to "Sign up",  new_customer_path, class: "btn btn-primary btn-lg btn-inverse"%>
	<%end%>
</div>