$navbar-default-bg: #e8e2ce;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1,7em;
	color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
#logo:hover {
	color: #fff;
	text-decoration: none;
}
#colore{
	font-color: white;
}
.center {
	text-align: center;
}
.jumbotron {
	background-image: asset-url('homepic.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height:  530px;
}
.jumbotron h1 {
	color: white;
	text-align: justify;
	font-size: 40px;
	font-family: Helvetica;
	margin-bottom: 30px;
	letter-spacing: 0px;
	font-weight: italic;
}
.jumbotron a{
	background-color: black;
	position: relative;
	bottom: -280px;
	display:inline-block;
	border: none;
}
.btn:hover{
  	background-color: #e8e2ce;
}
.product-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px; 
	text-align: center;
}
.product-title {
	font-weight: bold;
	font-size: 1.5em;
}
.product-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
 }
 .listing {
	 list-style: none;
	 padding-left: 0;
 }
 .well {
	 background-color: #e8e2ce;
 }
 .badge {
	  background-color: #e8e2ce;
	  text-transform: uppercase;
	  letter-spacing: -1px;
	  font-weight: bold;
 }
 .badge :hover {
	 background-color: #e8e2ce;
 }
 .input_checkbox input {
	 width: auto !important;
}
.cont {
	overflow: visible;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: justify;
}
#contPic {
	overflow: visible;
	overflow-y: hidden;
	overflow-x: hidden;
	width:300px ;
	height: 300px;
	border: none;
}
.img-thumbnail {
	/*height: 300px;*/
	/*align: none;*/
	border: none;
	margin-left: 50px;
}
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
footer a:hover {
	color: gray; 
}
footer small {
	float: left;
}
footer ul {
	float: right;
	list-style: none;
}
footer ul li {
	float: left;
	margin-left: 15px;
}