<h1 align = "center">Editing Product</h1>

<%= render 'form' %>
<div class="col-xs-4 col-xs-offset-4">
              <%= link_to 'Show Product', @products, class: "btn btn-success btn-lg" %> 
	<%= link_to 'Go Back ', products_path, class: "btn btn-success btn-lg"%> 
</div>
