<div class="container" >
	<footer class="footer">
		<small>
			copyrigt &copy; <a href="http://github.com/abdulaziz3/"></a>
			by Abdulaziz Alothaim
		</small>
		<nav>
			<ul>
				<li><%= link_to "About us", root_path %></li>
			</ul>
		</nav>
	</footer>
</div>