<footer class="footer navbar-absolute-bottom">
	<div class="container" >

		<small>
			Copyright &copy; <a href="http://github.com/abdulaziz3/"> Link to the project in github</a>
			 *by Abdulaziz Alothaim
		</small>
		<nav>
			<ul>
				<li><%= link_to "About us", pages_about_path %></li>
			</ul>
		</nav>
	</div>
</footer>